.column {
  background: var(--gray-color-1);
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 272px;

  padding: 12px 8px;
  border-radius: 12px;
}

.columnTitle {
  color: var(--text-color-1);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.addCardButton {
  color: var(--text-color-1);
  border: medium none;
  float: left;
  background: rgba(28, 28, 28, 0) none;
  display: flex;
  border-radius: 8px;
  width: 20vh;
  height: 3vh;
  align-items: center;
  transition: .1s linear;
  gap: 0.375rem;

  &:hover {
    cursor: pointer;
    background: var(--add-card-color);
  }
}

.taskId {
  display: inline-flex;
  gap: 0.375rem;
}

.inputAddCard {
  color: var(--text-color-1);
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  background: var(--gray-color-3);
  height: 78px;
  width: 256px;
  padding: 3px 12px 4px;
  border-radius: 8px;
  margin: 6px 0;
  resize: none;
  outline: none;
  box-sizing: border-box;

  &:focus {

  }
}

