@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("./fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("./fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("./fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;

}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: bold;
}


