//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --column-color: #262626;
  --add-card-color: #307FE2;
  --black: #000000;
  --white: #ffffff;
  --gray-color-1: #303030;
  --gray-color-2: #888888;
  --gray-color-3: #C0C0C0;

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

